<form method="post" id="registerForm" action="/login">
    <label>
        Nom d'utilisateur:
        <input placeholder="peudonyme" id="username" name="username" required>
    </label>
</form>
<button type="submit">S'enregistrer</button>