<form method="post" id="registerForm" action="/register">
    <label>
        Nom d'utilisateur:
        <input placeholder="peudonyme" id="username" name="username" required>
    </label>
    <label>
        Bio:
        <textarea placeholder="Bio" name="bio" id="bio" required></textarea>
    </label>
    <label>
        Age:
        <input type="number" id="age" name="age" required>
    </label>
</form>
<button type="submit">S'enregistrer</button>